.parent{
	width: 700px;
	height: 300px;
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	justify-content:center;
	/* align-items: flex-end; */
}
.child{
	width: 100px;
	height: 50px;
	border: 1px solid green;
}