#perent {
	height: 350px;
	border: 1px solid red;
}
#c1 {
	width: 100px;
	height: 100px;
	margin: 10px auto;
	border: 1px solid green;
}
#c2 {
	width: 200px;
	height: 100px;
	margin: 10px auto;
	border: 1px solid green;
}
#c3 {
	width: 300px;
	height: 100px;
	margin: 10px auto;
	border: 1px solid green;
}