#parent{
	position: relative;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background-color: rgb(28, 194, 92);
	border-radius: 50%;
	
}
#k1{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 100px;
	height: 100px; 
	background-color: white;
	border-radius: 50%;
}
#k2{
	position: absolute;
	top: 100px;
	right: 100px;
	width: 100px;
	height: 100px; 
	background-color: white;
	border-radius: 50%;
}
#rot_b{
	position: absolute;
	bottom: 60px;
	left: 150px;
	width: 200px;
	height: 200px; 
	background-color: white;
	border-radius: 50%;
}
#rot_z{
	position: absolute;
	bottom: 100px;
	left: 150px;
	width: 200px;
	height: 200px; 
	background-color:rgb(28, 194, 92) ;
	border-radius: 50%;
}
#nos{
	position: absolute;
	top: 230px;
	left: 215px;
	width: 70px;
	height: 70px; 
	background-color: white;
	border-radius: 50%;
}