#menu{
	display: flex;
}
#menu a{
	width: auto;
	height: auto;
	padding: 10px 20px;
	margin: 10px;
	color: white;
	border: 1px solid rgb(8, 143, 98);
	background-color: rgb(8, 143, 98);
	text-decoration: none;
}
#menu a:hover, #menu a.active {
	color: rgb(8, 143, 98);
	border: 1px solid rgb(8, 143, 98);
	background-color: white;
	text-decoration: none;
}