#e{
	width: 50px;
	height: 50px;
	background-color: red;
	z-index: 3;
	position: absolute;
	top: 50px;
	left: 50px;
}
#z{
	width: 50px;
	height: 50px;
	background-color: blue;
	z-index: 2;
	position: absolute;
	top: 80px;
	left: 80px;
}
#x{
	width: 50px;
	height: 50px;
	background-color: green;
	z-index: 1;
	position: absolute;
	top: 110px;
	left: 110px;
}