body{
    max-width: 900px;
    margin: 0 auto;
    font-size: 20px;
    max-height: 1000px;
}
#container{
    background-color: rgba(255, 166, 0, 0.404);
    padding: 20px 40px;
}
#tabs{
    
    background-color: aliceblue;
    margin: auto auto;
    border-radius: 30px;
    padding: 30px;
    
}
ul{
    text-align: center;
    list-style-type: none;
    font-size: 25px;
}
li{
    display: inline;
    border: 6px dashed rgba(255, 166, 0, 0.404);
    border-radius: 10px;
    margin: 10px 10px;
    padding: 5px 10px;
}
td{
    padding: 5px;
    text-align: center;
}
table{
    margin: 0 auto;
}